.cipher-form {
  max-width: 600px;
  margin: auto;
}
.request-failed-message {
  margin: 1em;
  color: red;
}
.encrypted-password-block {
  margin-top: 4em;
}
.encrypted-password {
  font-size: 2em;
}
